@import "../../index.styl"

.container
	margin-top 0px

	.map
		width calc(100% - 420px)
		height 100%
		float left
		padding 0px
		ignorePadding()

	.panel
		margin-top 15px
		width 420px
		float right
		ignorePadding()
		padding 0px 10px
		