@import "../../index.styl"

+media-hd-landscape()
	background-color blue

+media-ipad-landscape()
	background-color green
	
.container
	size(300px,300px)
	border 10px solid black
	overflow hidden
	border-radius 170px
	margin 10px auto
	background-color red

	.content
		size(100%,100%)
		background-image url('assets/compass.png')
		background-repeat no-repeat
		background-size cover
