@import "../server/views/mixins.styl"

.container
	size(100%,100%)
	margin-top 15px
	text-align center
	
	.content
		margin 0px auto
		width 500px
		
		.list
			margin 20px 0px 15px 0px
				
			.item
				&:first-child
					border-top 1px solid #eee
				
				padding 10px 0px 20px 0px
				text-align left
				border-bottom 1px solid #eee
				
				span
					display inline-block
					transform translateY(5px) 
				
				.controls
					float right
				

.modal
	.content
		position relative
		height 820px

		.input
			position absolute
			top 30px
			left 30px
			z-index 10
	
		.map
			height 800px

		.save
			position absolute
			bottom 30px
			right 30px
			z-index 10


	