@import "../server/views/mixins.styl"

.container
	size(100%,100%)
	margin-top 15px
	text-align center
	
	.content
		margin 0px auto
		
		.list
			margin 20px 0px 15px 0px
			height calc(100% - 650px)
				
			.item
				&:first-child
					border-top 1px solid #eee
				
				padding 10px 0px 20px 0px
				text-align left
				border-bottom 1px solid #eee
				
				span
					display inline-block
					transform translateY(5px) 
				
				.controls
					float right
				

.modal
	padding-top 20px
	clear both
	text-align left
	
	.content
		position relative

		.input
			display inline-block
		
		.map
			height 400px

		.save
			float right


	